<ion-header>
  <ion-toolbar>
    <ion-title>Points of Interest</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{'General.Close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item> 
      <ion-label>La Flobette</ion-label>
    </ion-item>
    <ion-item> 
      <ion-label>Trou qui fume</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
