<ion-header>
  <ion-toolbar color="success"> 
    <ion-title>Menu</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="main-menu">  </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="ShowLegend()">
        <ion-icon name ="map" slot="start" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="setPosition()">
        <ion-icon name ="navigate" slot="start" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div id="myMap" style="width:100%;height:100%"></div>
</ion-content>

<ion-button color="success" style="margin: 0px;" (click)="presentModal()">{{'Map.ShowPoi' | translate}}</ion-button>