<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar> 
        <ion-title>Menu</ion-title>
      </ion-toolbar>
         </ion-header>
         <ion-content>
           <ion-list>
             <ion-menu-toggle>
              <ion-item [routerLink]="['home']">  
                <ion-icon name ="home" slot="start">
                </ion-icon>
                <ion-label>{{'Menu.Home' | translate}}</ion-label>
              </ion-item>
              <ion-item [routerLink]="['tabs']">  
                <ion-icon name ="earth" slot="start" color="primary">
              </ion-icon>
              <ion-label>{{'Menu.Map' | translate}}</ion-label>
              </ion-item>

              <ion-item *ngFor="let item of CategoryPoiList" (click)="listpoiModal(item.Id)">
                <ion-icon src="assets/svg/marker.svg" slot="start" color="success"></ion-icon>
                <ion-label>{{item.Name_fr}}</ion-label>
              </ion-item>

              <!-- <ion-item>
                <ion-icon src="assets/svg/sheep.svg" slot="start">
                </ion-icon> 
                <ion-label>{{'Menu.Animals' | translate}}</ion-label>
              </ion-item>
              <ion-item (click)="poiModal()"> 
                <ion-icon src="assets/svg/marker.svg" slot="start"  color="danger">
                </ion-icon>
                <ion-label>{{'Menu.Points of Interest' | translate}}</ion-label>
              </ion-item> -->

              <ion-item (click)="settingsModal()">
                <ion-icon name ="settings" slot="start">
                </ion-icon> 
                <ion-label>{{'Menu.Settings' | translate}}</ion-label>
              </ion-item>
          </ion-menu-toggle>
          </ion-list>
         </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
