<ion-header>
  <ion-toolbar color="success"> 
    <ion-title>Menu</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="main-menu"></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 10px;">
    <h1>{{'Home.h1' | translate}}</h1>
    <p>{{'Home.p1' | translate}}</p>
    <h2>{{'Home.h2' | translate}}</h2>
    <p>{{'Home.p2' | translate}}</p>
    <h3>{{'Home.h3' | translate}}</h3>
    <p>{{'Home.p3' | translate}}</p>
    <h4>{{'Home.h4' | translate}}</h4>
    <p>{{'Home.p4' | translate}}</p>
  </div>
</ion-content>
